.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

p{
  text-align: center;
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #3A6B8B;
  ;
}

.nav-menu a {
  margin: 0 10px;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-menu a:hover {
  background-color:#133C3E;
  color: white;
}


/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}